/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utils */
.container {
    max-width: 1000px;
    margin: 0 auto;
}
.p_5 {
    padding: 0px 5px;
}
.d_flex {
    display: flex;
}
/* Generics */
body {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
img {
    max-width: 100%;
}
main {
    margin-top: 20px;
}
.product_tag {
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
    position: absolute;
    bottom: 95px;
}

/* Debug */
.debug {
    * {
        border: 1px dashed black;
    }
}

/* Common */
:root {
    --bg_header: #ff6900;
    --product_in_sale: red;
    --product_eco_friendly: green;
    --bg_footer_top: #1a1a1a;
    --bg_footer_bottom: #0e0e0e;
}
/* !Header */
header {
    background-color: var(--bg_header);
    box-shadow: 0px 3px 5px grey;
    #nav_bar {
        justify-content: space-between;
        padding: 15px;
        height: 70px;

        /* Link Menu */
        .header_menu_link {
            width: 25%;
            align-items: center;

            .menu_link {
                list-style-type: none;
                color: white;
                justify-content: space-between;
            }
        }
        .nav_bar_logo {
            width: 50%;
            align-content: center;
            justify-content: center;

            /* Logo */
            #logo {
                height: 100%;
            }
        }
    }
    .header_menu_icon {
        width: 25%;
        text-align: right;
        align-content: center;
        color: white;
    }
}

/* !Main */
.row {
    flex-wrap: wrap;

    .col_3 {
        width: calc(100% / 12 * 4);
        padding: 1rem;
        .card {
            box-shadow: 0px 3px 5px grey;
        }
        .card {
            position: relative;
            .card_image {
            }
            .card_sale {
                background-color: red;
                padding: 3px 10px;
            }
            .card_eco {
                padding: 3px 10px;
                background-color: var(--product_eco_friendly);
            }
            .product_like {
                padding: 10px 10px;
                background-color: white;
                text-align: center;
                position: relative;
                color: black;
                position: absolute;
                top: 10px;
                right: 0;
            }
        }
    }
    .card_brand {
        font-size: 0.9rem;
    }
    .card_product_type {
        font-size: 1.1rem;
        font-weight: 600;
    }
    .card_price {
        font-size: 0.8rem;
        padding: 3px;
        .card_current_price {
            color: var(--product_in_sale);
            font-weight: 600;
        }
    }
}
/* !Hover Immagini */
/*Non so per quale motivo non me lo facci nestare*/
.hover_img {
    display: none;
}
.card:hover {
    .hover_img {
        display: block;
    }
    .image {
        display: none;
    }
}
/* !Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg_footer_top);
    color: white;
    padding: 20px;
    .footer_menu {
        .logo_sm {
            font-size: 0.9rem;
        }
        .footer_menu_link {
            display: flex;
            list-style-type: none;
            font-size: 0.7rem;
        }
    }
    .footer_social_link_title {
        font-size: 0.7rem;
        padding: 8px;
    }
    .footer_social_link_icon {
    }
}
